#advancedSearchIcon {
    margin-left: 15px;
}

.navbar-add {
    cursor: pointer;
}

.room-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

.room-table thead tr {
    text-align: center;
    background-color: #009879;
    color: black;
}

.room-table th,
.room-table td {
    padding: 12px 15px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

/* 
th, td {
    border: 2px solid black;
} */ 